<div id="initialPageLoadingScreen" class="LoadingScreen LoadingScreen--darkMode">
    <div class="LoadingScreen__background">
        <svg viewBox="0 0 1366 728" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
            <g style="transform: translate(676px, -200px)">
                <g style="
                        transform-origin: 450px 267.5px;
                        transform: rotate(45deg);
                    ">
                    <use href="#pill" />
                </g>
            </g>
            <g style="transform: translate(125px, 0px)">
                <g style="
                        transform-origin: 450px 267.5px;
                        transform: rotate(-135deg);
                    ">
                    <use href="#pill" />
                </g>
            </g>
            <g style="transform: translate(700px, 330px)">
                <g style="
                        transform-origin: 450px 267.5px;
                        transform: rotate(-135deg);
                    ">
                    <use href="#pill" />
                </g>
            </g>
            <g style="transform: translate(-280px, 190px)">
                <g style="
                        transform-origin: 450px 267.5px;
                        transform: rotate(45deg);
                    ">
                    <use href="#pill" />
                </g>
            </g>
            <defs>
                <mask id="stippleMask">
                    <image width="900" height="535" />
                </mask>
                <g id="pill" class="Pill">
                    <rect class="Pill__stipple" x="0" y="0" width="900" height="535" mask="url(#stippleMask)" />
                    <path class="Pill__shape"
                        d="M600 40H0V490H600C724.264 490 825 389.264 825 265C825 140.736 724.264 40 600 40Z"
                        fill="url(#pillGradient)" />
                </g>
                <linearGradient id="pillGradient">
                    <stop class="Pill__gradient" offset="20%" stop-opacity="1" />
                    <stop class="Pill__gradientHighlight" offset="95%" stop-opacity="1" />
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div id="initialPageLoadingAnimation"
        class="LoadingAnimation LoadingAnimation--darkMode LoadingAnimation--spinning LoadingAnimation--loading"><svg
            width="104" height="104" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"
                fill="gray" />
            <circle cx="12" cy="2.5" r="1.5" fill="white">
                <animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12"
                    repeatCount="indefinite" />
            </circle>
        </svg>
    </div>
</div>